{% extends 'base.html' %} {% load static %} {% block main %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <h1 class="mb-0 site-logo"><span class="text-primary">TAMBUA</span></h1>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"></li>
      <li class="nav-item active"></li>
    </ul>

    <a class="nav-link my-2 my-sm-0" href="{% url 'enroll' %}"
      ><button class="btn btn-outline-secondary my-2 my-sm-0">Enroll</button></a
    >
    <a class="nav-link my-2 my-sm-0" href="{% url 'verify' %}"
      ><button class="btn btn-outline-primary my-2 my-sm-0">Verify</button></a
    >
    <a class="nav-link my-2 my-sm-0" href="{% url 'logout' %}"
      ><button class="btn btn-outline-secondary my-2 my-sm-0">
        Log Out
      </button></a
    >
  </div>
</nav>

    <div id="messages" style="color: white; background: rgb(11, 46, 70); font-size: 24; text-align: center; margin-top: 20px; border-radius: 12px;">
        {% for msg in messages %}
            <p> {{msg}} </p>
        {% endfor %}
    </div>

<br />
<h3>Enter Customer Details For Verification</h3>
<hr />
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group row">
    <label for="customer_id" class="col-sm-2 col-form-label">Customer ID</label>
    <div class="col-sm-10">
      <input
        required
        type="text"
        class="form-control"
        id="customer_id"
        name="customer_id"
        placeholder="Customer ID"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="customer_photo" class="col-sm-2 col-form-label"
      >Customer Photo</label
    >
    <div class="col-sm-10">
      <input
        required
        type="file"
        class="form-control"
        id="customer_photo"
        name="customer_photo"
        placeholder="Upload Customer Face Photo"
        accept="image/png,image/jpg,image/jpeg,image/tif"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="customer_recording" class="col-sm-2 col-form-label"
      >Customer Recording</label
    >
    <div class="col-sm-10">
      <input
        required
        type="file"
        class="form-control"
        id="customer_recording"
        name="customer_recording"
        placeholder="Upload Customer Recording"
        accept=".wav"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="customer_signature" class="col-sm-2 col-form-label"
      >Customer Signature Photo</label
    >
    <div class="col-sm-10">
      <input
        required
        type="file"
        class="form-control"
        id="customer_signature"
        name="customer_signature"
        placeholder="Upload Customer Signature Photo"
        accept="image/png,image/jpg,image/jpeg,image/tif"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="customer_fingerprint" class="col-sm-2 col-form-label"
      >Customer Fingerprint Photo</label
    >
    <div class="col-sm-10">
      <input
        required
        type="file"
        class="form-control"
        id="customer_fingerprint"
        name="customer_fingerprint"
        placeholder="Upload Customer Signature"
        accept="image/png,image/jpg,image/jpeg,image/tif"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Verify</button>
    </div>
  </div>
</form>

{% endblock %}