{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<div class="card">
  <div class="card-body">
    <h2>Log in to your account</h2>
    <br />
    <form id="form" method="post">
      {% csrf_token %} {{ form|crispy }}

      <button type="submit" class="btn btn-primary btn-block">Log in</button>
      <br />
    </form>
  </div>
</div>
<br /><br />
<a href="{% url 'home' %}"
  ><button type="button" class="btn btn-primary btn-dark">
    Back To Home Page
  </button></a
>
{% endblock %}
